
/* Style global de la navbar */
.navbar {
    background-color: #1C4545;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 50px;
    margin-top: 20px;
    
    max-width: 90%; /* Définit une largeur maximale */
    margin-left: auto; /* Centre la navbar horizontalement */
    margin-right: auto;
}

  
  /* Style de l'image du logo */
  .navbar-logo {
    height: 2px; /* Hauteur spécifique pour le logo */
    width: 100px; /* Garde les proportions de l'image */
    margin-right: 20px; /* Espacement entre l'image et les autres éléments */
    margin-left: -10px;
    height: 40px;
  }
  
  /* Reste du CSS comme précédemment */
  .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family:  Garamond, serif;
    margin-left: 20px;
    transition: color 0.3s ease;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #f9ee18;
  }
  
  .form-control {
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  .btn-outline-success {
    border-radius: 30px;
    border: 1px solid #1abc9c;
    color: #1abc9c;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-outline-success:hover {
    background-color: #1abc9c;
    color: white;
  }
  
  .navbar-toggler {
    border: none;
    background-color: transparent;
  }
  
  .navbar-toggler-icon {
    background-color: #ecf0f1;
  }
  
  /* Responsive CSS */
  @media (max-width: 768px) {
    .navbar-nav .nav-item .nav-link .style-try {
      font-size: 14px;
      text-align: center;
      margin-left: 0;
      padding: 10px;
    }
  
    .navbar-logo {
      height: 30px; /* Réduire la taille du logo en mode mobile */
    }
  
    .form-control {
      width: 150px;
    }
  }
  


  /* Conteneur du champ de recherche */
.input-group {
    display: flex;
    align-items: center;
  }
  
  /* Style du champ de recherche */
  .input-group .form-control {
    border-radius: 50px; /* Rendre les coins du champ de recherche arrondis */
    padding-right: 40px; /* Ajouter de l'espace à droite pour l'icône */
  }
  
  /* Style du bouton avec l'icône */
  .input-group button {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 10px; /* Positionner l'icône à droite à l'intérieur du champ */
  }
  
  /* Icône de recherche */
  .input-group .fa-search {
    font-size: 18px; /* Taille de l'icône */
    color: #555; /* Couleur de l'icône */
  }
  .style-try{
    margin-left: 500px;
    color:#000000;
    background-color: #ffffff;
    border-radius: 50px;
    font-size: 18px;
    font-weight:400;
    font-family:  Garamond, serif;
    transition: color 0.3s ease;
    border-top: -50px;
  }

  