[run]
relative_files = True
source = AI_Service/app
branch = true
omit =
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
omit =
    */__init__.py