[run]
relative_files = True
source = app
branch = true
omit =
    */__init__.py
    */tests/*
    */manage-great_expectations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
omit =
    */__init__.py
    */tests/*
    */manage-great_expectations/*